@page "/"

<h1>Hello, world!</h1>

Welcome to a simple Contact Management System that allows Creating, Reading, Updating, and Deleting operations to be performed using Blazor Server and Entity Framework Core.

Click on Manage Contacts tab on the left of this page for more options.
