@page "/confirmDelete/{contact}"
@using ContactManagemenSystem.Data
@inject ContactService contactService
@inject NavigationManager navigationManager

<h3>Are you sure you want to delete this contact?</h3>
<button @onclick="delete">Yes, Delete!</button>
<button @onclick="nevermind">Nevermind</button>


@code {


    [Parameter]
    public Contact contact { get; set; }

    


    protected void delete()
    {
        contactService.DeleteContact(contact);
        navigationManager.NavigateTo("contactPage");
    }

    public void nevermind()
    {
        navigationManager.NavigateTo("contactPage");
    }

}
